/* app css stylesheet */
html,body {
  height:100%
}

body {
  font-size:81.25%;
  margin: 5px 5px 5px 5px;
  min-width:400px;
  background: #B2DFDB;
}

.navbar{
  background: #009688;
}

.navbar-brand.nav-title{
  color: #FFFFFF;
}

.btn-navbar {
  margin: 8px 0 8px 0;
}

.viewInstance{
  text-align: center;
}

.viewInput{
  text-align: center;
}

.input-group{
  margin: 0 0 10px;
  padding: 0 15px 0 15px;
}

.input-group-addon.form{
  background-color: #B2DFDB;
}

.btn.btn-connect {
  background: #009688;
  color: #FFFFFF;
}

.btn.btn-formSelect {
  margin: 6px 15px 6px 15px;
  background: #009688;
  color: #FFFFFF;
}

.form-group-little {
  margin: 0 -15px 5px -15px;
}

.form-control-little {
  padding: 6px 0 6px 0;
}

.btn-group.btn-group-full{
  width: 100%;
}

.ng-invalid.ng-dirty {
  border-color: #FA787E;
}

.ng-valid.ng-dirty {
  border-color: #B2DFDB;
}

.grid-snap {
  width: 100%;
  background-color: #000;
  color: #fff;
  font-size: 1.2em;
  margin: 5px 0 5px 0;
}

.outputCrop{
  position: absolute;
  background-color: #009688;
  border: solid 1px #fff;
  z-index: 0;
  text-align: center;
  cursor: pointer;
}

.se-resize {
  position: absolute;
  top: calc(100% - 4px);
  left: calc(100% - 4px);
  width: 7px;
  height: 7px;
  cursor: se-resize;
}