<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="en" ng-app="video-wall-app" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" ng-app="video-wall-app" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" ng-app="video-wall-app" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en" ng-app="video-wall-app" class="no-js"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>LMS VideoWall</title>
  <link rel="stylesheet" href="app/styles/app.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
  <link rel="stylesheet" href="/bower_components/ng-dialog/css/ngDialog.min.css">
  <link rel="stylesheet" href="/bower_components/ng-dialog/css/ngDialog-theme-default.min.css">
  <link rel="stylesheet" href="/bower_components/ng-dialog/css/ngDialog-theme-plain.min.css">

  <!-- google fonts -->
  <script src="/bower_components/angular/angular.js"></script>
  <script src="/bower_components/angular-route/angular-route.js"></script>
  <script src="/bower_components/ng-dialog/js/ngDialog.js"></script>
  <script src="/bower_components/spin.js/spin.js"></script>
  <script src="/bower_components/angular-spinner/angular-spinner.js"></script>

  <!--App fonts-->
  <script src="app/app.module.js"></script>
  <script src="app/app.config.js"></script>

  <!--App SERVICES-->
  <script src="app/main/apiFunctions.factory.js"></script>
  <script src="app/main/appFunctions.factory.js"></script>
  <script src="app/instance/instance.service.js"></script>
  <script src="app/input/input.service.js"></script>
  <script src="app/input/inputRTP.service.js"></script>

  <!--App CONTROLLERS-->
  <script src="app/main/main.controller.js"></script>
  <script src="app/instance/instance.controller.js"></script>
  <script src="app/input/input.controller.js"></script>
  <script src="app/input/inputRTP.controller.js"></script>
  <script src="app/main/tab.controller.js"></script>
  <script src="app/control/control.controller.js"></script>
  <script src="app/control/grid.controller.js"></script>
  <script src="app/control/modal.controller.js"></script>

  <!--App Directives-->
  <script src="app/control/grid.directive.js"></script>
  <!--<script src="app/main/ngDragDrop.directive.js"></script>-->
  <script src="app/main/ngDraggable.directive.js"></script>
  <script src="app/main/resize.directive.js"></script>

</head>
<body ng-controller="mainController as mainCtrl">
  <nav class="navbar">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand nav-title">LiveMediaStreamer API DEMO for Video Wall</a>
        <button type="button" class="navbar-toggle collapsed hidden" data-toggle="collapse" data-target="#navbar-collapse-dis" aria-expanded="false" id="collapseButton">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>
      <div class="collapse navbar-collapse" id="navbar-collapse-dis">
        <div class="nav navbar-nav navbar-right">
          <a data-bb="confirm" class="btn btn-connect btn-navbar" ng-click="mainCtrl.disconnectMain()" ng-show="mainCtrl.disconnectShow"><span class="glyphicon glyphicon-stop"></span> Disconnect</a>
          <a data-bb="confirm" class="btn btn-connect btn-navbar" ng-click="mainCtrl.save()" ng-show="mainCtrl.saveShow"><span class="glyphicon glyphicon-folder-close"></span> Save</a>
          <a data-bb="confirm" class="btn btn-connect btn-navbar" ng-click="mainCtrl.open()" ng-show="mainCtrl.openShow"><span class="glyphicon glyphicon-folder-open"></span> Open</a>
        </div>
      </div>
    </div>
  </nav>
  <div class="row row-wout-margin">
    <div ng-view></div>
  </div>
  <br>
  <div class="row row-wout-margin">
    <div class="col-sm-10 col-sm-offset-1 alert alert-success" ng-show="mainCtrl.successAlert" role="alert">
      <strong>Succes!</strong> {{mainCtrl.alertMessage}}
    </div>
    <div class="col-sm-10 col-sm-offset-1 alert alert-danger" ng-show="mainCtrl.errorAlert">
      <strong>Error!</strong> {{mainCtrl.alertMessage}}
    </div>
  </div>
</body>
</html>
