<div class="col-sm-4 col-sm-offset-4 viewInput">
    <h4>Now, set network protocol type input for LiveMediaStreamer instance</h4>
    <div class="tab" ng-controller="tabController as tabCtrl">
        <br>
        <div class="btn-group btn-group-full">
            <button ng-class="{ active: tabCtrl.isSet(1) }" class="btn btn-connect" ng-click="tabCtrl.setTab(1)">RTP</button>
            <button ng-class="{ active: tabCtrl.isSet(2) }" class="btn btn-connect" ng-click="tabCtrl.setTab(2)">RTSP</button>
            <!--<button ng-class="{ active: tabCtrl.isSet(3) }" class="btn btn-connect" ng-click="tabCtrl.setTab(3)">RTMP</button>-->
        </div>

        <div ng-show="tabCtrl.isSet(1)">
            <div class="tab" ng-controller="tabController as tabCtrlRTP">
                <br>
                <div class="btn-group btn-group-full">
                    <button ng-class="{ active: tabCtrlRTP.isSet(1) }" class="btn btn-connect" ng-click="tabCtrlRTP.setTab(1)">Video</button>
                    <button ng-class="{ active: tabCtrlRTP.isSet(2) }" class="btn btn-connect" ng-click="tabCtrlRTP.setTab(2)">Audio</button>
                    <button ng-class="{ active: tabCtrlRTP.isSet(3) }" class="btn btn-connect" ng-click="tabCtrlRTP.setTab(3)">Both</button>
                </div>

                <div ng-controller="inputRTPController as inputRTPCtrl">
                    <div ng-show="tabCtrlRTP.isSet(1)">
                        <form name="inputRTPVideoForm" ng-submit="inputRTPVideoForm.$valid && inputRTPCtrl.videoRTP()" novalidate>
                            <h4>Set video input</h4>
                            <div class="row">
                                <div class="input-group">
                                    <span class="input-group-addon form">Video port</span>
                                    <input class="form-control ng-dirty ng-invalid" type="number"  ng-model="inputRTPCtrl.inputRTPVideoPort" ng-init="inputRTPCtrl.inputRTPVideoPort=5004" required/>
                                </div>
                            </div>
                            <div class="row">
                                <div class="input-group">
                                    <span class="input-group-addon form">Codec</span>
                                    <select class="form-control ng-dirty ng-invalid" name="codecSelect" ng-model="inputRTPCtrl.inputRTPVideoCodec.codecSelect" required>
                                        <option ng-repeat="codec in inputRTPCtrl.inputRTPVideoCodec.availableCodecs" value="{{codec.name}}">{{codec.name}}</option>
                                    </select>
                                </div>
                            </div>
                            <input class="col-sm-4 col-sm-offset-8 btn btn-connect" type="submit" value="Set and continue"/>
                        </form>
                    </div>

                    <div ng-show="tabCtrlRTP.isSet(2)">
                        <form name="inputRTPAudioForm" ng-submit="inputRTPAudioForm.$valid && inputRTPCtrl.audioRTP()" novalidate>
                            <h4>Set audio input</h4>
                            <div class="row">
                                <div class="input-group">
                                    <span class="input-group-addon form">Audio port</span>
                                    <input class="form-control ng-dirty ng-invalid" type="number"  ng-model="inputRTPCtrl.inputRTPAudioPort" ng-init="inputRTPCtrl.inputRTPAudioPort=5006" required/>
                                </div>
                            </div>
                            <div class="row">
                                <div class="input-group">
                                    <span class="input-group-addon form">Codec</span>
                                    <select class="form-control ng-dirty ng-invalid" name="codecSelect" ng-model="inputRTPCtrl.inputRTPAudioCodec.codecSelect">
                                        <option ng-repeat="codec in inputRTPCtrl.inputRTPAudioCodec.availableCodecs" value="{{codec.name}}">{{codec.name}}</option>
                                    </select>
                                </div>
                            </div>
                            <div class="row">
                                <div class="input-group">
                                    <span class="input-group-addon form">Sample Rate</span>
                                    <select class="form-control ng-dirty ng-invalid" name="sampleRateSelect" ng-model="inputRTPCtrl.inputRTPAudioSampleRate.sampleRateSelect">
                                        <option ng-repeat="sampleRate in inputRTPCtrl.inputRTPAudioSampleRate.availableSampleRates" value="{{sampleRate.value}}">{{sampleRate.value}}</option>
                                    </select>
                                </div>
                            </div>
                            <div class="row">
                                <div class="input-group">
                                    <span class="input-group-addon form">Channels</span>
                                    <select class="form-control ng-dirty ng-invalid" name="channelsSelect" ng-model="inputRTPCtrl.inputRTPAudioChannels.channelsSelect">
                                        <option ng-repeat="channels in inputRTPCtrl.inputRTPAudioChannels.availableChannels" value="{{channels.value}}">{{channels.value}}</option>
                                    </select>
                                </div>
                            </div>
                            <input class="col-sm-4 col-sm-offset-8 btn btn-connect" type="submit" value="Set and continue"/>
                        </form>
                    </div>

                    <div ng-show="tabCtrlRTP.isSet(3)">
                        <form name="inputRTPBothForm" ng-submit="inputRTPBothForm.$valid && inputRTPCtrl.bothRTP()" novalidate>
                            <h4>Set audio input</h4>
                            <div class="row">
                                <div class="input-group">
                                    <span class="input-group-addon form">Audio port</span>
                                    <input class="form-control ng-dirty ng-invalid" type="number"  ng-model="inputRTPCtrl.inputRTPAudioPort" ng-init="inputRTPCtrl.inputRTPAudioPort=5006" required/>
                                </div>
                            </div>
                            <div class="row">
                                <div class="input-group">
                                    <span class="input-group-addon form">Codec</span>
                                    <select class="form-control ng-dirty ng-invalid" name="codecSelect" ng-model="inputRTPCtrl.inputRTPAudioCodec.codecSelect">
                                        <option ng-repeat="codec in inputRTPCtrl.inputRTPAudioCodec.availableCodecs" value="{{codec.name}}">{{codec.name}}</option>
                                    </select>
                                </div>
                            </div>
                            <div class="row">
                                <div class="input-group">
                                    <span class="input-group-addon form">Sample Rate</span>
                                    <select class="form-control ng-dirty ng-invalid" name="sampleRateSelect" ng-model="inputRTPCtrl.inputRTPAudioSampleRate.sampleRateSelect">
                                        <option ng-repeat="sampleRate in inputRTPCtrl.inputRTPAudioSampleRate.availableSampleRates" value="{{sampleRate.value}}">{{sampleRate.value}}</option>
                                    </select>
                                </div>
                            </div>
                            <div class="row">
                                <div class="input-group">
                                    <span class="input-group-addon form">Channels</span>
                                    <select class="form-control ng-dirty ng-invalid" name="channelsSelect" ng-model="inputRTPCtrl.inputRTPAudioChannels.channelsSelect">
                                        <option ng-repeat="channels in inputRTPCtrl.inputRTPAudioChannels.availableChannels" value="{{channels.value}}">{{channels.value}}</option>
                                    </select>
                                </div>
                            </div>
                            <h4>Set video input</h4>
                            <div class="row">
                                <div class="input-group">
                                    <span class="input-group-addon form">Video port</span>
                                    <input class="form-control ng-dirty ng-invalid" type="number"  ng-model="inputRTPCtrl.inputRTPVideoPort" ng-init="inputRTPCtrl.inputRTPVideoPort=5004" required/>
                                </div>
                            </div>
                            <div class="row">
                                <div class="input-group">
                                    <span class="input-group-addon form">Codec</span>
                                    <select class="form-control ng-dirty ng-invalid" name="codecSelect" ng-model="inputRTPCtrl.inputRTPVideoCodec.codecSelect" ng-required>
                                        <option ng-repeat="codec in inputRTPCtrl.inputRTPVideoCodec.availableCodecs" value="{{codec.name}}">{{codec.name}}</option>
                                    </select>
                                </div>
                            </div>
                            <input class="col-sm-4 col-sm-offset-8 btn btn-connect" type="submit" value="Set and continue"/>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <div ng-show="tabCtrl.isSet(2)">
            <br>
            <form name="inputRTSPForm" ng-submit="inputRTSPForm.$valid && inputCtrl.connectUriRTSP()" novalidate>
                <div class="row">
                    <div class="input-group">
                        <span class="input-group-addon form">RTSP URI</span>
                        <input class="form-control ng-dirty ng-invalid" type="text" ng-model="inputCtrl.uri" ng-init="inputCtrl.uri='rtsp://192.168.10.55:8554/'" required/>
                    </div>
                </div>
                <br>
                <input class="col-sm-4 col-sm-offset-8 btn btn-connect" type="submit" value="Connect"/>
            </form>
        </div>

        <!--<div ng-show="tabCtrl.isSet(3)">
            <br>
            <form name="inputRTMPForm" ng-submit="inputRTMPForm.$valid && inputCtrl.connectUriRTMP()" novalidate>
                <div class="row">
                    <div class="input-group">
                        <span class="input-group-addon form">RTMP URI</span>
                        <input class="form-control ng-dirty ng-invalid" type="text"  ng-model="inputCtrl.uri" required/>
                    </div>
                </div>
                <br>
                <input class="col-sm-4 col-sm-offset-8 btn btn-connect" type="submit" value="Connect"/>
            </form>
        </div>-->
    </div>
</div>