<div class="col-sm-4 col-sm-offset-4 viewInstance">
    <div class="row">
        <form name="instanceForm" ng-submit="insCtrl.connectInstance()">
        <div class="row">
            <h4>API connectivity parameters</h4>
        </div>
        <div class="row">
            <div class="input-group">
                <span class="input-group-addon form">API hostname</span>
                <input class="form-control ng-dirty ng-invalid" type="text" ng-model="insCtrl.apiHostname" ng-pattern="/\b(?:(?:25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\.){3}(?:25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\b/" ng-init="insCtrl.apiHostname='127.0.0.1'" required/>
            </div>
        </div>
        <div class="row">
            <div class="input-group">
                <span class="input-group-addon form">API port</span>
                <input class="form-control ng-dirty ng-invalid" type="number" ng-model="insCtrl.apiPort" ng-init="insCtrl.apiPort=8080" required/>
            </div>
        </div>
        <br>
        <div class="row">
            <h4>LMS connectivity parameters</h4>
        </div>
        <div class="row">
            <div class="input-group">
                <span class="input-group-addon form">LMS hostname</span>
                <input class="form-control ng-dirty ng-invalid" ng-model="insCtrl.serverHostname" ng-pattern="/\b(?:(?:25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\.){3}(?:25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\b/" ng-init="insCtrl.serverHostname='127.0.0.1'" required/>
            </div>
        </div>
        <div class="row">
            <div class="input-group">
                <span class="input-group-addon form">LMS port</span>
                <input class="form-control ng-dirty ng-invalid" type="number" ng-model="insCtrl.serverPort" ng-init="insCtrl.serverPort=7777" required/>
            </div>
        </div>
        <br>
        <input class="col-sm-4 col-sm-offset-8 btn btn-connect" type="submit" value="Connect"/>
        </form>
    </div>
    <br>
</div>
