<div class="col-sm-8 col-sm-offset-1">
    <grid-directive></grid-directive>
</div>
<div class="col-sm-2">
    <h4>Selected Crop</h4>
    <form name="cropForm" ng-submit="controlCtrl.configureCrop()">
        <div class="row">
            <div class="input-group">
                <span class="input-group-addon form">Crop</span>
                <span class="form-control form-control-little" ng-bind="controlCtrl.selectCrop" ></span>
            </div>
        </div>
        <div class="row">
            <div class="input-group">
                <span class="input-group-addon form">X</span>
                <span class="form-control form-control-little" ng-bind="controlCtrl.xCrop" ></span>
            </div>
        </div>
        <div class="row">
            <div class="input-group">
                <span class="input-group-addon form">Y</span>
                <span class="form-control form-control-little" ng-bind="controlCtrl.yCrop" ></span>
            </div>
        </div>
        <div class="row">
            <div class="input-group">
                <span class="input-group-addon form">Width</span>
                <span class="form-control form-control-little" ng-bind="controlCtrl.wCrop" ></span>
            </div>
        </div>
        <div class="row">
            <div class="input-group">
                <span class="input-group-addon form">Height</span>
                <span class="form-control form-control-little" ng-bind="controlCtrl.hCrop" ></span>
            </div>
        </div>
        <input class="btn btn-connect" type="submit" value="Configure Selected Crop"/>
    </form>
    <div class="row">
        <input class="btn btn-formSelect" ng-click="controlCtrl.configureAllCrops()" value="Configure All Crops"/>
    </div>
    <div class="row">
        <input class="btn btn-formSelect" ng-click="controlCtrl.deleteSelectCrop()" value="Delete Selected Crop"/>
    </div>
    <h4>Configure Frame Time</h4>
    <form name="frameTimeForm" ng-submit="frameTimeForm.$valid && controlCtrl.fTimeInput()" novalidate>
        <div class="row">
            <div class="input-group">
                <span class="input-group-addon form">Frame Time</span>
                <input class="form-control form-control-little ng-dirty ng-invalid" type="number"
                       ng-model="controlCtrl.frameTime" ng-init="controlCtrl.frameTime = 40000" required/>
            </div>
        </div>
        <input class="btn btn-connect" type="submit" value="Configure Frame Time"/>
    </form>
</div>

