<div id="grid" class="grid-snap"></div>
<input class="btn btn-grid" ng-click="gridCtrl.clickToView()" ng-show="gridCtrl.showAll" value="Create Crop"/>
<br>
<span us-spinner ng-hide="gridCtrl.showAll"></span>

<script type="text/ng-template" id="pushCrop">
    <div class="ngdialog-content" ng-controller="modalController as modalCtrl">
        <form name="cropFormInput" ng-submit="cropFormInput.$valid && modalCtrl.addCrop()" novalidate>
            <h4>Add Cropr</h4>
            <fieldset class="form-group">
                <div class="row">
                    <div class="input-group">
                        <span class="input-group-addon form">IP</span>
                        <input class="form-control ng-dirty ng-invalid" type="text"  ng-model="modalCtrl.IP" required/>
                    </div>
                </div>
                <div class="row">
                    <div class="input-group">
                        <span class="input-group-addon form">Aspect Ratio</span>
                        <select class="form-control ng-dirty ng-invalid" name="codecSelect" ng-model="modalCtrl.inputAspectRatio.aspectRatioSelect" required>
                            <option ng-repeat="aspectRatio in modalCtrl.inputAspectRatio.availableAspectRatios" value="{{aspectRatio.name}}">{{aspectRatio.name}}</option>
                        </select>
                    </div>
                </div>
                <div class="row" ng-show="modalCtrl.showSound">
                    <div class="input-group">
                        <span class="input-group-addon form">Sound</span>
                        <span class="form-control">
                            <input type="checkbox"  ng-model="modalCtrl.sound"/>
                        </span>
                    </div>
                </div>
            </fieldset>
            <fieldset class="form-group">
                <input class="btn btn-connect" type="submit" value="Create crop"/>
            </fieldset>
        </form>
    </div>
</script>